*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

-A INPUT -i lo -j ACCEPT

# configuration
-A INPUT -p icmpv6 -s fe80::/10 -d fe80::/10 -j ACCEPT
-A INPUT -p icmpv6 -s fe80::/10 -d ff02::/16 -m hl --hl-eq 255 -j ACCEPT
-A INPUT -p icmpv6 -s :: -d ff02::/16 -m hl --hl-eq 255 -j ACCEPT

# dhcp client config
-A INPUT -p udp -s fe80::/10 -d fe80::/10 --dport 546 -j ACCEPT

# path discovery
-A INPUT -p icmpv6 --icmpv6-type destination-unreachable -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type packet-too-big -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type time-exceeded -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type parameter-problem -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type echo-request -j ACCEPT
-A INPUT -p icmpv6 --icmpv6-type echo-reply -j ACCEPT

# ssh scanning block
-A INPUT -p tcp -m state --state NEW --dport 22 -m recent --name sshattack6 --set
-A INPUT -p tcp --dport 22 -m state --state NEW -m recent --name sshattack6 --rcheck --seconds 30 --hitcount 4 -j LOG --log-prefix "SSH REJECT V6: "
-A INPUT -p tcp --dport 22 -m state --state NEW -m recent --name sshattack6 --rcheck --seconds 30 --hitcount 4 -j REJECT --reject-with tcp-reset
# related goes through
-A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

# Global allows for hosted services
-A INPUT -m tcp -p tcp --dport 443 -j ACCEPT

# DHCPv6 replies, DNS replies
-A INPUT -p udp --dport 546 -j ACCEPT
-A INPUT -p udp --dport 546 -j ACCEPT
-A INPUT -p udp --sport  53 -j ACCEPT

# SSH Access
-A INPUT -p tcp --dport 22 --syn -j LOG --log-prefix permit-tcpv6-ssh-in: --log-level info
-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT

# Further remote access is rejected
-A INPUT -j DROP

COMMIT

