Dear operator,

A new client approval request has been made:

 delegation server: ${host}
 request time:      ${creationTime}
 client_id:         ${identifier}

 client name:       ${name}
 contact email:     ${email}
 home URI:          ${homeUri}

# error URI:         ${failureUri}
# public key:        ${publicKey}
#
To handle the request, login on "${host}" and use the cli tool at
{{ mp_server_tools_dir }}/oa2-cli

