/*
   NOTE: this script is based on the script shipped with
   oa4mp-client-oauth2 as oauth2-mysql.sql

   This script will create the tables for a basic oa4mp install. Since MySQL has
   *no* variable support, everything is hard-coded. if you want something other
   than the default names and then edit the file.

   Also, the default timestamp must all be CURRENT_TIMESTAMP. It is not allowed
   to be NULL, but needs to be set or it will be updated on updating of the
   record. https://mariadb.com/kb/en/library/timestamp/
*/

/*
Usage: Log in as an administrator (such as root) that can create the user.
Normally this is done by the ansible script, otherwise it is (probably) also
done when granting the permissions later on.

CREATE USER '{{ mp_server_db_user }}'@'localhost' IDENTIFIED BY '{{ mp_server_db_pw }}';

Run the rest of this script.
*/

/* User and database are already created by the ansible script, hence next line
 * is normally non-functional */
CREATE DATABASE IF NOT EXISTS {{ mp_client_db }} DEFAULT CHARACTER SET utf8;

USE {{ mp_client_db }};

/*
Some useful commands:
 Show Databases;
 Show schemas;
 SELECT User FROM mysql.user;
 SHOW GRANTS FOR 'user'@'localhost';
 */

CREATE TABLE IF NOT EXISTS assets (
  identifier              VARCHAR(255) Primary key,
  creation_ts             TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
  private_key             TEXT,
  username                TEXT,
  redirect_uri            TEXT,
  certificate             TEXT,
  refresh_token           TEXT,
  access_token            TEXT,
  nonce                   TEXT,
  state                   TEXT,
  issuedat                TIMESTAMP,
  refresh_lifetime        BIGINT,
  cert_req                TEXT,
  token                   TEXT,
  mp_server_request_state TEXT,
  mp_server_request_code  TEXT
);


COMMIT;

/* Now grant restricted access. The tables have to exist before this step. */

GRANT ALL ON assets
        TO '{{ mp_client_db_user }}'@'localhost'
        IDENTIFIED BY '{{ mp_client_db_pw }}';

COMMIT;
