<config>

    <client name="default" alias="{{ sshkey_portal_conf }}"/>

    <!-- ############################################################################## -->

    <client name="{{ sshkey_portal_conf }}" address="https://{{ inventory_hostname }}/{{ sshkey_portal }}" debug="{{ sshkey_portal_log_debug }}">

        <logging logFileName="{{ sshkey_portal_log_dir }}/{{ sshkey_portal }}.log"
                 logName="SSHKP"
                 logSize="{{ sshkey_portal_log_size }}"
                 logFileCount="10"
{% if sshkey_portal_log_debug|lower == "off" %}
                 debug="false"
{% else %}
                 debug="true"
{% endif %}
        />

        <!-- need ID token (e.g. for sub claim), currently default is (still) true -->
        <OIDCEnabled>true</OIDCEnabled>

        <callbackUri>https://{{ inventory_hostname }}/{{ sshkey_portal }}/ready</callbackUri>

        <serviceUri>https://{{ inventory_hostname }}/{{ mp_server }}</serviceUri>

        <wellKnownUri>https://{{ inventory_hostname }}/{{ mp_server }}/.well-known/openid-configuration</wellKnownUri>

        <id>{{ sshkey_portal_id }}</id>
        <secret>{{ sshkey_portal_secret }}</secret>

        <fileStore path="{{ sshkey_portal_storage_dir }}">
            <assetStore/>
        </fileStore>

        <!-- disable proxy and email scopes which aren't necessary, enable
             userinfo for the IdP name -->
        <scopes>
{% for disabled_scope in sshkey_portal_disabled_scopes %}
            <scope enabled="false">{{ disabled_scope }}</scope>
{% endfor %}
{% for enabled_scope in sshkey_portal_enabled_scopes %}
            <scope>{{ enabled_scope }}</scope>
{% endfor %}
        </scopes>

        <!-- configure the printed name and IdP
             nameClaim is used when set, otherwise
             givenNameClaim+familyNameClaim -->
        <nameClaim>{{ sshkey_name_claim }}</nameClaim>
        <givenNameClaim>{{ sshkey_given_name_claim }}</givenNameClaim>
        <familyNameClaim>{{ sshkey_family_name_claim }}</familyNameClaim>
        <idpDisplayNameClaim>{{ sshkey_idp_display_name_claim }}</idpDisplayNameClaim>

        <ssl>
            <keystore>
                <path>{{ sshkey_portal_truststore }}</path>
                <type>jks</type>
                <password>{{ sshkey_portal_truststore_pw }}</password>
                <factory>SunX509</factory>
            </keystore>
        </ssl>

    </client>

</config>

