<config>

    <client name="default" alias="{{ sshkey_portal_conf }}"/>

    <!-- ############################################################################## -->

    <client name="{{ sshkey_portal_conf }}" address="https://{{ inventory_hostname }}/{{ sshkey_portal }}" debug="true">

        <logging logFileName="{{ sshkey_portal_log_dir }}/{{ sshkey_portal }}.log"
                 logName="SSHKP"
                 logSize="1000000"
                 logFileCount="10"
                 debug="true"/>

        <!-- need ID token (e.g. for sub claim), currently default is (still) true -->
        <OIDCEnabled>true</OIDCEnabled>

        <callbackUri>https://{{ inventory_hostname }}/{{ sshkey_portal }}/ready</callbackUri>

        <serviceUri>https://{{ inventory_hostname }}/{{ mp_server }}</serviceUri>

        <wellKnownUri>https://{{ inventory_hostname }}/{{ mp_server }}/.well-known/openid-configuration</wellKnownUri>

        <id>{{ sshkey_portal_id }}</id>
        <secret>{{ sshkey_portal_secret }}</secret>

        <fileStore path="{{ sshkey_portal_storage_dir }}">
            <assetStore/>
        </fileStore>

        <!-- disable proxy and email scopes which aren't necessary, enable
             userinfo for the IdP name -->
        <scopes>
            <scope enabled="false">edu.uiuc.ncsa.myproxy.getcert</scope>
            <scope enabled="false">email</scope>
            <scope>org.cilogon.userinfo</scope>
        </scopes>

        <!-- configure the printed name and IdP
             nameClaim is used when set, otherwise
             givenNameClaim+familyNameClaim -->
        <nameClaim>name</nameClaim>
        <givenNameClaim>given_name</givenNameClaim>
        <familyNameClaim>family_name</familyNameClaim>
        <idpDisplayNameClaim>idp_display_name</idpDisplayNameClaim>

        <ssl>
            <keystore>
                <path>{{ sshkey_portal_truststore }}</path>
                <type>jks</type>
                <password>{{ sshkey_portal_truststore_pw }}</password>
                <factory>SunX509</factory>
            </keystore>
        </ssl>

    </client>

</config>

