LoadModule ssl_module modules/mod_ssl.so
Listen 443
Listen {{ sshkey_listing_port }}

SSLPassPhraseDialog  builtin
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300

#This has to be removed when configuring httpd on rh7
#SSLMutex default

SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin

SSLCryptoDevice builtin


ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn


SSLProtocol all -SSLv2 -SSLv3 +TLSv1 
SSLHonorCipherOrder On
SSLCipherSuite "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH EDH+aRSA !aNULL !eNULL !MEDIUM !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"
SSLCertificateFile {{ hostcert }}
SSLCertificateKeyFile {{ hostkey }}
{% if hostcert_intermediate is defined %}
SSLCertificateChainFile {{ hostcert_intermediate }}
{% endif %}

UseCanonicalPhysicalPort On
UseCanonicalName On

ProxyRequests Off

Header always set Strict-Transport-Security "max-age=15724800"

CustomLog logs/ssl_request_log "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

<VirtualHost _default_:{{ sshkey_listing_port }}>

    ServerName {{ inventory_hostname }}

    SSLEngine on

    # This provides the username/pubkey list download page to-be used by the
    # SSH host to create its AuthorizedKeysCommand
    ProxyPass /{{ mp_server}}/{{ sshkey_listing }} ajp://127.0.0.1:8009/{{ mp_server }}/{{ sshkey_listing }}

</VirtualHost>

<VirtualHost _default_:443>

    ServerName {{ inventory_hostname }}

    SSLEngine on

    ProxyPass /{{ mp_server }}/authorized !
    ProxyPass /{{ mp_server }}/{{ sshkey_listing }} !

    ProxyPass /{{ mp_server }} ajp://127.0.0.1:8009/{{ mp_server }}
    ProxyPass /{{ mp_client }} ajp://127.0.0.1:8009/{{ mp_client }}

{% if sshkey_portal is defined %}
    # This enables the co-hosted SSH keys upload portal
    ProxyPass /{{ sshkey_portal }} ajp://127.0.0.1:8009/{{ sshkey_portal }}
{% endif %}

{% if vo_portal is defined %}
    # This should only be enabled for testing purposes	
    ProxyPass /{{ vo_portal }} ajp://127.0.0.1:8009/{{ vo_portal }}
{% endif %}

</VirtualHost>
