<config>

    <client name="default" alias="{{ vo_portal_conf }}"/>

    <!-- ############################################################################## -->

    <client name="{{ vo_portal_conf }}" address="https://{{ inventory_hostname }}/{{ vo_portal }}" debug="{{ vo_portal_log_debug }}">

        <logging logFileName="{{ vo_portal_log_dir }}/{{ vo_portal }}.log"
                 logName="VOP"
                 logSize="{{ vo_portal_log_size }}"
                 logFileCount="10"
{% if vo_portal_log_debug|lower == "off" %}
                 debug="false"
{% else %}
                 debug="true"
{% endif %}
	/>

        <!-- VO portal doesn't use ID token, only userinfo -->
        <OIDCEnabled>false</OIDCEnabled>

        <callbackUri>https://{{ inventory_hostname }}/{{ vo_portal }}/ready</callbackUri>

        <serviceUri>https://{{ inventory_hostname }}/{{ mp_server }}</serviceUri>

        <wellKnownUri>https://{{ inventory_hostname }}/{{ mp_server }}/.well-known/openid-configuration</wellKnownUri>

        <id>{{ vo_portal_id }}</id>
        <secret>{{ vo_portal_secret }}</secret>

        <lifetime>{{ vo_portal_conf_lifetime }}</lifetime>

        <requestProxies>true</requestProxies>

        <fileStore path="{{ vo_portal_storage_dir }}">
            <assetStore/>
        </fileStore>

        <!-- Add e.g. the userinfo scope for more user claims -->
        <scopes>
{% for disabled_scope in vo_portal_disabled_scopes %}
            <scope enabled="false">{{ disabled_scope }}</scope>
{% endfor %}
{% for enabled_scope in vo_portal_enabled_scopes %}
            <scope>{{ enabled_scope }}</scope>
{% endfor %}
        </scopes>

        <ssl>
            <keystore>
                <path>{{ vo_portal_truststore }}</path>
                <type>jks</type>
                <password>{{ vo_portal_truststore_pw }}</password>
                <factory>SunX509</factory>
            </keystore>
        </ssl>

    </client>

</config>

