# for more complicated rules, feel free to edit the template

*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

# INPUT Chain

-I INPUT -i lo -j ACCEPT
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT

{% if ssh_address is defined %}
-A INPUT -m state --state NEW -m tcp -p tcp -s {{ ssh_address }} --dport 7512 -j ACCEPT
{% endif %}
-A INPUT -m state --state NEW -m tcp -p tcp -s {{ masterportal_address }} --dport 7512 -j ACCEPT

-A INPUT -m state --state NEW -p tcp --dport 22 -j LOG --log-prefix "SSH ACCEPT: "
-A INPUT -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT

-A INPUT -m limit --limit 2/min -j LOG --log-uid --log-prefix "iptables:INPUT: "
-A INPUT -j DROP

COMMIT
