---

# INSTALLING HOST CERTIFICATES

- name: copy hostcert
  copy:
    src: "{{ inventory_hostname }}.crt"
    dest: "{{ hostcert }}"
    owner: root
    group: root
    mode: 0644
  notify: restart httpd
  tags: hostcreds

- name: copy hostchain
  copy:
    src: "{{ inventory_hostname }}.chain"
    dest: "{{ hostcert_intermediate }}"
    owner: root
    group: root
    mode: 0644
  notify: restart httpd
  tags: hostcreds
  when: hostcert_intermediate is defined

- name: copy hostkey
  copy:
    src: "{{ inventory_hostname }}.key"
    dest: "{{ hostkey }}"
    owner: root
    group: root
    mode: 0400
  notify: restart httpd
  tags: hostcreds

# INSTALLING TRUST ANCHOR OF HOST CERTIFICATE FROM RPM

# install trust root from rpm package(s)
- name: deploy trust anchor(s) from rpm
  dnf:
    name: "{{ trust_anchor_packages }}"
    state: present
  when: trust_anchor_packages is defined
  notify: restart httpd
  tags: hostcreds

# INSTALLING TRUST ANCHOR OF HOST CERTIFICATE FROM TARBALL

# install trust root from tarball file
- name: unpack trust anchor(s) from tarball
  unarchive:
    src: "{{ item }}"
    dest: "{{ x509_cert_dir }}"
    mode: 0644
    owner: root
    group: root
  with_items: "{{ trust_anchor_tarballs }}"
  notify: restart httpd
  when: trust_anchor_tarballs is defined
