#!/bin/bash
# Set as
#  AuthorizedKeysCommand <THIS FILE>
# in sshd_config
if [ "$1" != "{{ proxy_user }}" ];then
    echo "Skipping user \"$1\"" > /tmp/logfile
    exit
fi

authzlog="{{ authz_cmd_log }}"
url="https://{{ masterportal_host }}:8443/{{ mp_server }}/{{ sshkey_listing }}"
cmd="command=\"{{ myproxy_cmd }} \1\""
{% if (OS == "RH6") or (OS == "RH7") %}
# Note neither RH6 nor RH7 has restrict yet
opts=',no-port-forwarding,no-x11-forwarding,no-agent-forwarding,no-pty,no-user-rc'
{% else %}
opts=',restrict'
{% endif %}

sedcmd="s#\([^ ]\+\) \(.*\)\$#${cmd}${opts} \2#"

curllog=$(mktemp /tmp/curl_errorXXXXXX)
curl -Ss --capath {{ certificates }} "$url" 2>>$curllog |sed "$sedcmd"
retval=${PIPESTATUS[0]}
# Check exitstatus of cURL
if [ $retval -ne 0 ];then
    date +"%b %d %T  cURL $url failed" >> $authzlog
    cat $curllog >> $authzlog
    echo >> $authzlog
fi
rm $curllog
exit $retval
