*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
:RH-FW-1-INPUTV6 - [0:0]
:LOCAL-INPUTV6 - [0:0]
:TRUSTED-INPUTV6 - [0:0]

-A INPUT -j RH-FW-1-INPUTV6
-A FORWARD -j RH-FW-1-INPUTV6

# Accept all on loopback
-A RH-FW-1-INPUTV6 -i lo -j ACCEPT

# configuration
-A RH-FW-1-INPUTV6 -p icmpv6 -s fe80::/10 -d fe80::/10 -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 -s fe80::/10 -d ff02::/16 -m hl --hl-eq 255 -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 -s :: -d ff02::/16 -m hl --hl-eq 255 -j ACCEPT

# dhcp client config
-A RH-FW-1-INPUTV6 -p udp -s fe80::/10 -d fe80::/10 --dport 546 -j ACCEPT

# path discovery
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type destination-unreachable -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type packet-too-big -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type time-exceeded -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type parameter-problem -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type echo-request -j ACCEPT
-A RH-FW-1-INPUTV6 -p icmpv6 --icmpv6-type echo-reply -j ACCEPT

# ssh scanning block
-A RH-FW-1-INPUTV6 -p tcp -m state --state NEW --dport 22 -m recent --name sshattack6 --set
-A RH-FW-1-INPUTV6 -p tcp --dport 22 -m state --state NEW -m recent --name sshattack6 --rcheck --seconds 30 --hitcount 4 -j LOG --log-prefix "SSH REJECT V6: "
-A RH-FW-1-INPUTV6 -p tcp --dport 22 -m state --state NEW -m recent --name sshattack6 --rcheck --seconds 30 --hitcount 4 -j REJECT --reject-with tcp-reset
# related goes through
-A RH-FW-1-INPUTV6 -m state --state ESTABLISHED,RELATED -j ACCEPT

# Settings for the different hosts in the setup

{% if groups.sshhost.0 is defined and inventory_hostname == groups.sshhost.0 %}
# Make sure SSH is accessible from the world for the SSH host
-A RH-FW-1-INPUTV6 -p tcp --dport 22 --syn -j LOG --log-prefix permit-tcpv6-ssh-in: --log-level info
-A RH-FW-1-INPUTV6 -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
{% endif %}{# inventory_hostname == groups.sshhost.0 #}

{% if inventory_hostname == groups.credstore.0 %}
{% if groups.sshhost.0 is defined %}
# myproxy must be reachable from ssh host when enabled and not co-hosted
-A RH-FW-1-INPUTV6 -m state --state NEW -m tcp -p tcp -s {{ groups.sshhost.0 }} --dport {{ credstore_port }} -j ACCEPT
{% endif %}
{% if not groups.credstore.0 == groups.masterportal.0 %}
# myproxy must be reachable from masterportal host when not co-hosted
-A RH-FW-1-INPUTV6 -m state --state NEW -m tcp -p tcp -s {{ groups.masterportal.0 }} --dport {{ credstore_port }} -j ACCEPT
{% endif %}
{% endif %}{# inventory_hostname == groups.credstore.0 #}

{% if inventory_hostname == groups.masterportal.0 %}
# Make sure MasterPortal itself is accessible from the world
#-A RH-FW-1-INPUTV6 -m tcp -p tcp --dport 80 -j ACCEPT
-A RH-FW-1-INPUTV6 -m tcp -p tcp --dport 443 -j ACCEPT
{% if groups.sshhost.0 is defined %}
# SSH host needs access to the ssh key listing
-A RH-FW-1-INPUTV6 -m state --state NEW -m tcp -p tcp -s {{ groups.sshhost.0 }} --dport {{ sshkey_listing_port }} -j ACCEPT
{% endif %}
{% endif %}{# inventory_hostname == groups.masterportal.0 #}


# Split between local vs. foreign
{% for local_net_v6 in local_nets_v6 %}
-A RH-FW-1-INPUTV6 -s {{ local_net_v6 }} -j LOCAL-INPUTV6
{% endfor %}
# Further remote access is rejected
-A RH-FW-1-INPUTV6 -j DROP

# LOCAL rules

# DHCPv6 replies, DNS replies
-A LOCAL-INPUTV6 -p udp --dport 546 -j ACCEPT
-A LOCAL-INPUTV6 -p udp --sport  53 -j ACCEPT
-A LOCAL-INPUTV6 -p icmpv6 -j ACCEPT

# Split between local vs. trusted
{% for trusted_net_v6 in trusted_nets_v6 %}
-A LOCAL-INPUTV6 -s {{ trusted_net_v6 }} -j TRUSTED-INPUTV6
{% endfor %}
-A LOCAL-INPUTV6 -j REJECT --reject-with icmp6-adm-prohibited

# TRUSTED rules

# SSH Access
-A TRUSTED-INPUTV6 -p tcp --dport 22 --syn -j LOG --log-prefix permit-tcpv6-ssh-in: --log-level info
-A TRUSTED-INPUTV6 -m state --state NEW -m tcp -p tcp --dport 22 -j ACCEPT
-A TRUSTED-INPUTV6 -j REJECT --reject-with icmp6-adm-prohibited

COMMIT
