driftfile /var/lib/ntp/drift

{% for ntp_addr in ntp_servers %}
server {{ ntp_addr }}
{% endfor %}

server 127.127.1.0 # local clock
fudge  127.127.1.0 stratum 10

# Permit time synchronization with our time source, but do not
# permit the source to query or modify the service on this system.
# Permit all access over the loopback interface.
restrict default nomodify notrap nopeer noquery
restrict -6 default nomodify notrap nopeer noquery
restrict 127.0.0.1 
restrict -6 ::1
