---

# These tasks will install and configure MyProxy Server
# to act as a Credential Store

- name: install myproxy
  yum:
    name: ['myproxy', 'myproxy-server', 'myproxy-voms', 'myproxy-admin', 'myproxy-doc']
    state: present

- name: add myproxy-server.config
  template:
    src: myproxy-server.conf.j2
    dest: /etc/myproxy-server.config
    owner: myproxy
    group: myproxy
    mode: 0644
    backup: yes
  notify: restart myproxy

- name: add myproxy proxy extfile
  template:
    src: myproxy-proxy-extfile
    dest: "{{ credstore_proxy_extfile }}"
    owner: myproxy
    group: myproxy
    mode: 0644

- name: copy myproxy cert
  copy:
    remote_src: true
    src: "{{ hostcert }}"
    dest: /etc/grid-security/myproxy/hostcert.pem
    owner: myproxy
    group: myproxy
    mode: 0644
  notify: restart myproxy
  tags: hostcreds

- name: copy myproxy key
  copy:
    remote_src: true
    src: "{{ hostkey }}"
    dest: /etc/grid-security/myproxy/hostkey.pem
    owner: myproxy
    group: myproxy
    mode: 0400
  notify: restart myproxy
  tags: hostcreds
